/*FONTS*/
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Edu+VIC+WA+NT+Beginner:wght@400;500;600;700&family=Poppins:wght@300;400;500;600;700;800;900&family=Rancho&family=Source+Code+Pro&family=Source+Sans+Pro:wght@300;400;600;700;900&display=swap');
/*RESET CSS*/
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
html {
    scroll-behavior: smooth;
}
body {
    min-height: 100vh;
    background-color: antiquewhite;
}